<h2>Your Lists</h2>
<table class="table index">
  <thead>
    <th>
      List Name
    </th>
    <th>
    </th>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
    <tr>
      <td>
        <a href="/lists/<%=list.name%>/active?id=<%= list.id %>"><%= list.name %></a>
      </td>
      <td>
        <form action="/lists/<%= list.name %>" method="post">
          <input type="hidden" name="_method" value="Delete">
          <input type="hidden" name="id" value="<%= list.id %>">
          <input type="submit" class="btn btn-danger" class="btn btn-danger" value="Delete">
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <a href="/active/todos">See all to dos</a>
      </td>
      <td>
      </td>
    </tr>
  </tfoot>
</table>
<article class="new_item_section">
  <h5>Create a New List</h5>
  <form action="/lists" method="post">
    <input id="list_name" type="text" name="name" value="">
    <input type="submit" value="Save">
  </form>
</article>
