<h1><%= @list.name %></h1>
<table class="table">
  <tr>
    <th>
      Complete
    </th>
    <th>
      Description
    </th>
    <th>
    </th>
  </tr>
  <% @list.to_dos.each do |to_do| %>
  <tr>
    <td>
      <% if to_do.is_complete %>
      <span class="complete">Done!</span>
      <% else %>
      <form action="/todos/<%= to_do.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="todo[is_cosmplete]" value="<%= to_do.is_complete %>">
        <input type="submit" value="Complete">
      <% end %>
    </td>
    <td>
      <a href="/todos/<%= to_do.id %>"><%= to_do.description %></a>
    </td>
    <td>
      <form action="/todos/<%= to_do.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="list_id" value="<%= @list.id %>">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  <% end %>
  <tr>
    <td>
      <form action="/todos" method="post">
        <label for="todo_description">To Do</label>
        <input id="todo_description" type="text" name="todo[description]" value="<%= @todo.description %>">
        <input type="hidden" name="todo[list_id]" value="<%= @list.id %>">
        <input type="submit" value="Save">
      </form>
    </td>
      <a href="/lists/<%= @list.id %>">See active</a>
    <td>
    </td>
    <td>
    </td>
  </tr>
</table>
