<h1><%= @list.name %></h1>
<table class="table">
  <tr>
    <th>
      Complete
    </th>
    <th>
      Description
    </th>
    <th>
    </th>
  </tr>
  <% @list.active_todos.each do |to_do| %>
  <tr>
    <td>
      <% if to_do.is_complete %>
      <span class="complete">Completed on <%= to_do.completed_at.strftime "%A, %d %b %Y %l:%M %p" %></span>
      <% else %>
      <form action="/todos/<%= to_do.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="todo[is_cosmplete]" value="<%= true %>">
        <input type="submit" value="Complete">
      <% end %>
    </td>
    <td>
      <a href="/todos/<%= to_do.id %>"><%= to_do.description %></a>
    </td>
    <td>
      <form action="/todos/<%= to_do.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="list_id" value="<%= @list.id %>">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  <% end %>
  <tr>
    <td>
      <form action="/todos" method="post">
        <label for="todo_description">To Do</label>
        <input id="todo_description" type="text" name="todo[description]" value="<%= @todo.description %>">

        <label for="todo_description">Due Date</label>
        <input id="todo_description" type="date" name="todo[due_at]" value="<%= @todo.due_at %>">

        <input type="hidden" name="todo[list_id]" value="<%= @list.id %>">
        <input type="submit" value="Save">
      </form>
    </td>
    <a href="/lists/<%= @list.id %>/all">See all</a>
    <td>
    </td>
    <td>
    </td>
  </tr>
</table>
