<h1>All To Dos</h1>
<table class="table">
  <tr>
    <th>
      Complete
    </th>
    <th>
      List Name
    </th>
    <th>
      Description
    </th>
  </tr>
  <% @todos.each do |to_do| %>
  <tr>
    <td>
      <form action="/todos/all/<%= to_do.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="todo[is_complete]" value="<%= true %>">
        <input type="submit" value="Complete">
      </form>
    </td>
    <td>
      <a href="lists/<%= to_do.list_id %>"><%= to_do.list.name %></a>
    </td>
    <td>
      <a href="/todos/<%= to_do.id %>"><%= to_do.description %></a>
    </td>
    <td>
      <form action="/todos/<%= to_do.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="list_id" value="<%= to_do.list_id %>">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  <% end %>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
</table>
